<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="OFF" monitorInterval="300">
    <properties>
        <property name="LOG_HOME">/logs</property>
    </properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
        <!-- 控制台只输出level及以上级别的信息(onMatch),其他的直接拒绝(onMismatch) 优先级，即DEBUG，INFO，WARN，ERROR，-->
        <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>

        <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
    <!-- 消息在粗粒度级别上突出强调应用程序的运行过程 -->
        <!--  <RollingRandomAccessFile name="InfoFile"
                                   fileName="${LOG_HOME}/info.log"
                                   filePattern="${LOG_HOME}/$${date:yyyy-MM}/info-%d{yyyy-MM-dd}-%i.log">
              <Filters>
                  <ThresholdFilter level="warn" onMatch="DENY" onMismatch="NEUTRAL"/>
                  <ThresholdFilter level="trace" onMatch="ACCEPT" onMismatch="DENY"/>
              </Filters>
              <PatternLayout pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} %level [%thread][%file:%line] - %msg%n"/>
              <Policies>
                  <TimeBasedTriggeringPolicy/>
                  <SizeBasedTriggeringPolicy size="10 MB"/>
              </Policies>
              <DefaultRolloverStrategy max="20"/>
          </RollingRandomAccessFile>
          &lt;!&ndash; 输出错误信息日志 &ndash;&gt;
          <RollingRandomAccessFile name="ErrorFile"
                                   fileName="${LOG_HOME}/error.log"
                                   filePattern="${LOG_HOME}/$${date:yyyy-MM}/error-%d{yyyy-MM-dd}-%i.log">
              <Filters>
                  <ThresholdFilter level="fatal" onMatch="DENY" onMismatch="NEUTRAL"/>
                  <ThresholdFilter level="warn" onMatch="ACCEPT" onMismatch="DENY"/>
              </Filters>
              <PatternLayout pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} %level [%thread][%file:%line] - %msg%n"/>
              <Policies>
                  <TimeBasedTriggeringPolicy/>
                  <SizeBasedTriggeringPolicy size="10 MB"/>
              </Policies>
              <DefaultRolloverStrategy max="20"/>
          </RollingRandomAccessFile>
          &lt;!&ndash; 输出每个严重的错误事件将会导致应用程序的退出的日志. &ndash;&gt;
          <RollingRandomAccessFile name="FatalFile"
                                   fileName="${LOG_HOME}/fatal.log"
                                   filePattern="${LOG_HOME}/$${date:yyyy-MM}/fatal-%d{yyyy-MM-dd}-%i.log">
              <Filters>
                  <ThresholdFilter level="fatal" onMatch="ACCEPT" onMismatch="DENY"/>
              </Filters>
              <PatternLayout pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} %level [%thread][%file:%line] - %msg%n"/>
              <Policies>
                  <TimeBasedTriggeringPolicy/>
                  <SizeBasedTriggeringPolicy size="10 MB"/>
              </Policies>
              <DefaultRolloverStrategy max="20"/>
          </RollingRandomAccessFile>
          &lt;!&ndash; 这个会打印出所有的信息，每次大小超过size，则这size大小的日志会自动存入按年份-月份建立的文件夹下面并进行压缩，作为存档 &ndash;&gt;
          <RollingFile name="RollingFile" fileName="${LOG_HOME}/web.log"
                       filePattern="${LOG_HOME}/$${date:yyyy-MM}/web-%d{MM-dd-yyyy}-%i.log.gz">
              <PatternLayout pattern="[%d{yyyy-MM-dd 'at' HH:mm:ss z}] [%-5p] %l - %m%n"/>
              <SizeBasedTriggeringPolicy size="2MB"/>
          </RollingFile>-->
    </Appenders>

    <Loggers>
        <Root level="DEBUG"> <!-- 这里的TRACE控制总下面的各类日志的日志级别,凡是高于此级别的都会在各自的级别文件中生成-->

            <AppenderRef ref="Console"/>
            <!--<AppenderRef ref="RollingFile"/>
            <AppenderRef ref="InfoFile"/>
            <AppenderRef ref="ErrorFile"/>
            <AppenderRef ref="FatalFile"/>-->
        </Root>
    </Loggers>
</Configuration>